<div class='flex flex-col  rounded-lg font-mono gap-3 outline outline-1 outline-indigo-300 w-full p-4 bg-white shadow-sm'>
<h2 class='text-lg text-gray-700'>
<strong><%=post.title%></strong>
</h2>
<p class='text-gray-500'><%=post.text%></p>
<div class='flex gap-4'>

<div class='p-2 outline outline-1 outline-indigo-300 rounded-lg font-bold'>
Comments: 0
</div>
<div class='p-2 outline outline-1 outline-indigo-300 rounded-lg font-bold'>
Likes: 0
</div>
</div>
</div>
