<div class='flex flex-col  rounded-lg font-mono gap-3 outline outline-1 outline-indigo-300 w-full p-4 bg-white shadow-sm mb-4'>
<div class='flex flex-row justify-between align-center '>
<h2 class='text-lg text-gray-700'>
<strong>post name</strong>
</h2>
<div class='flex gap-4'>
<div class='p-2 outline outline-1 outline-indigo-300 rounded-lg font-bold'>
Comments: 0
</div>
<div class='p-2 outline outline-1 outline-indigo-300 rounded-lg font-bold'>
Likes: 0
</div>
</div>
</div>
<p class='text-gray-600'>some important details we need to have</p>
</div>
<div class='flex flex-col  rounded-lg font-mono gap-1 outline outline-1 outline-indigo-300 w-full p-4 bg-indigo-50'>
<% [0,0,0].each do |comment| %>
<p class='text-sm'><span class='font-bold'>authorname: </span> comment</p>
<%end%>
</div>
