<nav class="flex justify-between flex-wrap bg-white p-6 font-mono items-center drop-shadow-sm">
  <div class="flex items-center ">
    <h2 class="font-semibold text-2xl text-indigo-500">Blog App</h2>
  </div>
</nav>